.coming-soon-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.coming-soon-container {
  text-align: center;
  padding: 20px;
}

.coming-soon-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.coming-soon-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.email-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 250px;
}

.email-button {
  padding: 10px 20px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.email-button:hover {
  background-color: #005fcc;
}